* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: DM sans;
    color: #FFF;
    background-color: #171717;
}

.container {
    max-width: 80rem;
    margin-inline-start: auto;
    margin-inline-end: auto;
    padding-inline-start: 1.25rem;
    padding-inline-end: 1.25rem;
}

/* ******************************* */
/* *********** Header ************ */
/* ******************************* */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.75rem;
}

header .navbar {
    display: flex;
    gap: 1.25rem;
    margin-top: 1rem;
}

header h1 {
    font-size: 1.6rem;
    color: #27AE60;
}

header .navbar a {
    text-decoration: none;
    color: #FFF;
    transition: all 1s;
    border-bottom: 1px solid #27AE60;
}

header .navbar a:hover {
    color: #27AE60;
    transition: all 1s;

}

@media (min-width: 768px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    header .navbar {
        display: flex;
        gap: 1.25rem;
        margin-top: 0;
    }

    header h1 {
        font-size: 1.8rem;
    }

    header .navbar a {
        font-size: 1.2rem;
    }
}

@media (min-width: 1024px) {
    header .navbar {
        gap: 1.8rem;
    }
}

@media (min-width: 1280px) {
    header h1 {
        font-size: 2.4rem;
    }

    header .navbar a {
        font-size: 1.3rem;
    }

    header .navbar {
        gap: 2.5rem;
    }
}

/* ******************************* */
/* ************ Hero ************* */
/* ******************************* */

#hero {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

#hero img {
    border-radius: 100%;
    max-width: 60%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 8px solid rgba(46, 45, 45, 0.2);
}

#hero .hero-about {
    margin-top: 1.5rem;
    text-align: center;
}

#hero .hero-about h2 {
    font-size: 1.5rem;
}

#hero .hero-about h3.subtitle {
    color: #828282;
    font-size: 0.8rem;
    text-align: start;
}

#hero .hero-about .hero-button {
    margin-top: 1.5rem;
}

#hero .hero-about .hero-button .download-button {
    text-decoration: none;
    color: #FFF;
    background-color: #27AE60;
    padding: 6px 13px 6px 13px;
    font-size: 0.8rem;
    border: 1px solid #27AE60;
}

#hero .hero-about .hero-button .learn-button {
    text-decoration: none;
    color: #FFF;
    padding: 6px 17px 6px 17px;
    font-size: 0.8rem;
    border: 1px solid #FFF;
    margin-left: 0.3rem;
}

@media (min-width: 640px) {
    #hero .hero-about h2 {
        font-size: 2rem;
    }

    #hero .hero-about h3.subtitle {
        font-size: 1rem;
    }

    #hero .hero-about .hero-button .download-button {
        padding: 6px 13px 6px 13px;
        font-size: 1rem;
    }

    #hero .hero-about .hero-button .learn-button {
        padding: 6px 17px 6px 17px;
        font-size: 1rem;
        margin-left: 0.5rem;
    }
}

@media (min-width: 768px) {
    #hero {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 7.8rem;
    }

    #hero img {
        border-radius: 100%;
        max-width: 50%;
        border: 12px solid rgba(46, 45, 45, 0.2);
    }

    #hero .hero-about {
        margin-top: 1.5rem;
        text-align: start;
    }
}

@media (min-width: 1024px) {
    #hero .hero-about h2 {
        font-size: 3rem;
    }
    
    #hero .hero-about h3.subtitle {
        font-size: 1rem;
    }
    
    #hero .hero-about .hero-button .download-button {
        padding: 6px 18px 6px 18px;
        font-size: 1rem;
    }
    
    #hero .hero-about .hero-button .learn-button {
        padding: 6px 22px 6px 22px;
        font-size: 1rem;
        margin-left: 1rem;
    }
}

@media (min-width: 1280px) {
    #hero img {
        border-radius: 100%;
        max-width: 50%;
        border: 15px solid rgba(46, 45, 45, 0.2);
    }
    
    #hero .hero-about h2 {
        font-size: 3.5rem;
    }
    
    #hero .hero-about h3.subtitle {
        font-size: 1.5rem;
    }
    
    #hero .hero-about .hero-button .download-button {
        padding: 6px 18px 6px 18px;
        font-size: 1.2rem;
    }
    
    #hero .hero-about .hero-button .learn-button {
        padding: 6px 22px 6px 22px;
        font-size: 1.2rem;
        margin-left: 1.5rem;
    }
}

/* ******************************* */
/* ************ About ************ */
/* ******************************* */

#about .about-info-container {
    margin-top: 4rem;
    text-align: center;
}

#about .about-info-container h2.about-title {
    font-size: 2rem;
    border-bottom: 1px solid #27AE60;
    display:inline;
}

#about .about-info-container h2.about-title span.hashtag {
    color: #27ae5f5d;
}

#about .about-info-container p.about-text {
    margin-top: 1rem;
    font-weight: 300;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    #about .about-info-container p.about-text {
        line-height: 1.5;
    }

    #about .about-info-container p.about-text {
        font-size: 1.125rem;
    }
}

@media (min-width: 1024px) {
    #about .about-info-container h2.about-title {
        font-size: 2.5rem;
    }
}

@media (min-width: 1280px) {
    #about .about-info-container h2.about-title {
        font-size: 3rem;
    }
}

#ido .ido-container {
    margin-top: 4rem;
    text-align: center;
}

#ido .ido-container .card-container {
    display: flex;
    column-gap: 20px;
    row-gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

#ido .ido-container h2.ido-title {
    font-size: 2rem;
    border-bottom: 1px solid #27AE60;
    display:inline;
}

#ido .ido-container h2.ido-title span.hashtag {
    color: #27ae5f5d;
}

#ido .ido-container .card-box {
    background-color: #212121;
    text-align: start;
    padding-inline: 50px;
    padding-block: 36px;
    width: 100%;
}

#ido .ido-container .card-box h2 {
    margin-top: 1rem;
    font-size: 2rem;
    color: #535353;
}

@media (min-width: 768px) {
    #ido .ido-container .card-box {
        width: fit-content;
    }

    #ido .ido-container .card-box:last-child {
        width: 620px;
    }
}

@media (min-width: 1024px) {
    #ido .ido-container .card-box:last-child {
        width: fit-content;
    }

    #ido .ido-container h2.ido-title {
        font-size: 2.5rem;
    }
}
